<div class="container-lg p-lg-3 mt-3">

  <div class="mb-4 p-3">
    <h1 class="display-6 fw-bold text-primary">Contact List</h1>
    <p class="lead text-muted m-1">List of all your contact here</p>
    <hr>

    <%- include('./partials/nav-signedin.ejs') %>
      <hr>

      <div class="row row-cols-1 row-cols-md-2 g-3">
        <div class="row-cols-1 w-100">

          <form method="get" id="sort" class="col-3">
            <select name="sort" id="" form="sort" onchange="sortQuery(this)"
              class="text-start fw-normal p-1 rounded fw-semibold m-1  ">
              <option value="newest">newest</option>
              <option value="oldest">oldest</option>
              <option value="name-asc">name-asc</option>
              <option value="name-desc">name-desc</option>
              <option value="updated-newest">updated-newest</option>
              <option value="updated-oldest">updated-oldest</option>
              <option value="favorite-first">favorite-first</option>
              <option value="priority-high">priority-high</option>
              <option value="priority-low">priority-low</option>
              <option value="default">default</option>
            </select>
          </form>
          <input type="hidden" id="page-num" value="<%= page %>">
          <input type="hidden" id="sort-type" value="<%= sort %>">
          <!-- buat ingat sort typenya dan halaman nya dan pilihannya -->
          <script>
            const pageNum = document.getElementById('page-num').value;
            const sortType = document.getElementById('sort-type').value;
            document.querySelectorAll('option').forEach(opt => {
              if (opt.value === sortType) {
                opt.setAttribute('selected', '')
              }
            })
            function sortQuery(select) {
              select.querySelectorAll('option').forEach(option => {
                if (option.selected) {
                  const value = option.value;
                  location.search = `?page=${pageNum}&sort=${value}`;
                }
              });
            }
          </script>

        </div>
        <% result.forEach(contact=> { %>
          <div class="col">
            <div class="card h-100 shadow-sm ">
              <div class="card-body">
                <h4 class="card-title text-primary mb-2">
                  <a href="/contact/<%= contact.name %>"><%= contact.name %></a>
                </h4>

                <ul class="list-unstyled text-muted small">
                  <li><strong>Favorited:</strong>
                    <%= contact.favorite ? 'Yes' : 'No' %>
                  </li>
                  <li><strong>Priority:</strong>
                    <%= contact.priority %>
                  </li>
                  <li><strong>Created At:</strong>
                    <%= contact.createdAt %>
                  </li>
                  <li><strong>updated At:</strong>
                    <%= contact.updatedAt %>
                  </li>
                </ul>

                <a href="/contact/<%= contact.name %>" class="btn btn-dark btn-sm mt-2 border border-light">Detail</a>
              </div>
            </div>
          </div>
          <% }) %>

        </div>
        <% if (result.length===0) { %>
          <div class="col">
            <div class="alert alert-danger text-center">
              No contacts found.
            </div>
          </div>
          <% } %>


      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center mt-4">

          <li class="page-item <%= page <= 0 ? 'disabled' : '' %>">
            <a class="page-link" href="?page=<%= page - 1 %>&sort=<%= sort %>" tabindex="-1">Previous</a>
          </li>

          <!-- loop jumlah halaman -->
          <!-- jika halaman saat ini = i mode on aktif -->
          <% for (let i=0; i <=totalPage; i++) { %>
            <li class="page-item <%= i === page ? 'active' : '' %>">
              <a class="page-link" href="?page=<%= i %>&sort=<%= sort %>">
                <%= i %>
              </a>
            </li>
            <% } %>

              <!-- kalau halaman kurang dai total page bisa lanjutajlai -->
              <li class="page-item <%= page >= totalPage ? 'disabled' : '' %>">
                <a class="page-link" href="?page=<%= page + 1 %>&sort=<%= sort %>">Next</a>
              </li>

        </ul>
      </nav>


  </div>
</div>