<div class="container-lg p-lg-3 mt-3">

  <div class="mb-4 p-3">
    <h1 class="display-6 fw-bold text-primary">
      Dashboard
    </h1>
    <p class="lead text-muted m-1">
      Welcome back, <strong>
      </strong>!
      Here is a dashboard menu to manage your contact!
    </p>
    <hr>

    <%- include('./partials/nav-signedin.ejs') %>

      <hr>

  </div>



  <% if (signedIn.length) { %>
    <div class="alert alert-info">
      <%= signedIn %>
    </div>
    <% } %>

      <!-- Stats Cards Row -->
      <div class="row g-4 mb-5">
        <!-- Total Contacts -->
        <div class="col-xl-3 col-md-6">
          <div class="card stats-card bg-primary text-white">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <h6 class="card-subtitle mb-2 text-white-50">Total Contacts</h6>
                  <h2 class="card-title mb-0 fw-bold" id="total-contacts">
                    <!-- <div class="spinner-border spinner-border-sm" role="status"></div> -->
                    <%= totalContacts %>
                  </h2>
                </div>
                <div class="ms-3">
                  <i class="fas fa-users stats-icon"></i>
                </div>
              </div>
            </div>
            <div class="card-footer bg-transparent border-light">
              <a href="/contacts?page=0&sort=newest" class="text-white text-decoration-none d-flex align-items-center">
                <span class="me-auto">View all contacts</span>
                <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- Favorites -->
        <div class="col-xl-3 col-md-6">
          <div class="card stats-card bg-warning text-dark">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <h6 class="card-subtitle mb-2 text-dark-emphasis opacity-75">Favorites</h6>
                  <h2 class="card-title mb-0 fw-bold" id="favorite-contacts">
                    <!-- <div class="spinner-border spinner-border-sm text-dark" role="status"></div> -->
                    <%= favoriteTotal %>
                  </h2>
                </div>
                <div class="ms-3">
                  <i class="fas  fa-star stats-icon"></i>
                </div>
              </div>
            </div>
            <div class="card-footer bg-transparent border-warning-subtle">
              <a href="/contacts?sort=favorite-first&page=0"
                class="text-dark text-decoration-none d-flex align-items-center">
                <span class="me-auto">View favorites</span>
                <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- Recent Contacts -->
        <div class="col-xl-3 col-md-6">
          <div class="card stats-card bg-success text-white">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <h6 class="card-subtitle mb-2 text-white-50">Recently updated</h6>
                  <h2 class="card-title mb-0 fw-bold" id="recent-contacts">
                    <!-- <div class="spinner-border spinner-border-sm" role="status"></div> -->
                    <a href="/contact/<%= recentContact?.name ?? 'add' %>" class="text-white">
                      <%= recentContact?.name ?? '_' %>
                    </a>
                  </h2>
                </div>
                <div class="ms-3">
                  <i class="fas fa-clock stats-icon"></i>
                </div>
              </div>
            </div>
            <div class="card-footer bg-transparent border-light">
              <a href="/contact/<%= recentContact?.name ?? 'add' %>"
                class="text-white text-decoration-none d-flex align-items-center">
                <span class="me-auto">View recent updated</span>
                <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>

        <!-- Companies -->
        <div class="col-xl-3 col-md-6">
          <div class="card stats-card bg-danger text-white">
            <div class="card-body">
              <div class="d-flex align-items-center">
                <div class="flex-grow-1">
                  <h6 class="card-subtitle mb-2 text-white-50">Most Fields</h6>
                  <h2 class="card-title mb-0 fw-bold" id="companies-count">
                    <!-- <div class="spinner-border spinner-border-sm" role="status"></div> -->
                    <%= mostFields?.[1]?.name %> (<%= mostFields[0] %>)
                  </h2>
                </div>
                <div class="ms-3">
                  <i class="fas fa-building stats-icon"></i>
                </div>
              </div>
            </div>
            <div class="card-footer bg-transparent border-light">
              <a href="/contact/<%= mostFields?.[1]?.name ?? 'add' %>"
                class="text-white text-decoration-none d-flex align-items-center">
                <span class="me-auto">View contact</span>
                <i class="fas fa-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
      </div>




      <!-- Quick Actions Row -->
      <div class="row g-4 mb-4 p-1">
        <div class="col-12">
          <div class="card shadow-sm">
            <div class="card-header bg-light border-bottom border-4">
              <h5 class="card-title mb-0">
                <i class="fas fa-bolt text-warning me-2"></i>
                Quick Actions
              </h5>
            </div>
            <div class="card-body">
              <div class="row g-3">

                <div class="col-md-3">
                  <a href="/contact/add" class="btn btn-primary w-100 py-3">
                    <i class="fas fa-user-plus fa-2x d-block mb-2"></i>
                    <span class="fw-semibold">Add Contact</span>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="/contacts/import" class="btn btn-warning w-100 py-3" onclick="">
                    <i class="fas fa-file-import fa-2x d-block mb-2"></i>
                    <span class="fw-semibold">Import Contacts</span>
                  </a>
                </div>
                <div class="col-md-3">
                  <a href="/contacts/export" class="btn btn-success w-100 py-3" onclick="">
                    <i class="fas fa-download fa-2x d-block mb-2"></i>
                    <span class="fw-semibold">Export Contacts</span>
                  </a>
                </div>

                <div class="col-md-3">
                  <a href="/settings" class="btn btn-dark border-1 border-light w-100 py-3" onclick="">
                    <i class="fas fa-download fa-2x d-block mb-2"></i>
                    <span class="fw-semibold">Settings</span>
                  </a>
                </div>




              </div>
            </div>
          </div>
        </div>
      </div>
</div>