<div class="container-lg p-lg-3 mt-3">

  <div class="mb-4 p-3">
    <h1 class="display-6 fw-bold text-primary">
      <% name %> Contact Details
    </h1>
    <p class="lead text-muted m-1">
      Your contact with name<strong class="fw-bold">
        <%= name %>'s
      </strong> details
    </p>
    
    <hr>
    
    <%- include('./partials/nav-signedin.ejs') %>
    
    <hr>
    

    <% if (info.length) { %>
      <div class="alert alert-success" role="alert">
        <%= info %>
      </div>
      <script>
        localStorage.setItem('saveForm', '[]');
      </script>
      <hr>
      <% } %>

        <div class="card">
          <div class="card-body p-3 m-2 m-lg-4">

            <!-- Contact Name -->
            <div class="row mb-3">
              <label for="name" class="fw-bold col-12 col-md-2 col-form-label text-uppercase">Contact Name</label>
              <div class="col-12 col-md-10">
                <input type="text" name="name" id="name" class="form-control rounded-0 fw-bold" value="<%= name %>"
                  readonly placeholder="Contact Name" disabled>
              </div>
            </div>

            <div class="row mb-3">
              <label for="priority" class="fw-bold col-12 col-md-2 col-form-label text-uppercase">Priority</label>
              <div class="col-12 col-md-10">
                <input value="<%= priority %>" type="number" min="0" max="100" name="priority" id="priority"
                  class="form-control rounded-0 fw-bold text-uppercase" placeholder="Priority 0 - 100" readonly
                  disabled>
              </div>
            </div>

            <div class="row mb-3">
              <label for="priority" class="fw-bold col-12 col-md-2 col-form-label text-uppercase">Favorite</label>
              <div class="col-12 col-md-10">
                <div class="form-check">
                  <input autocomplete="off" onchange="favorite(this.checked)" class="form-check-input" type="checkbox"
                    value="<%= favorite %>" <%=favorite ? 'checked' : '' %>
                  id="flexCheckIndeterminate" />
                  <label class="form-check-label" for="flexCheckIndeterminate">
                    Favorite contact
                  </label>
                  <script>
                    function favorite(state) {
                      fetch(location.pathname + `?favorite=${state}`)
                    }
                  </script>
                </div>
              </div>
            </div>

            <div class="row mb-3">
              <label for="priority" class="fw-bold col-12 col-md-2 col-form-label text-uppercase">Created At</label>
              <div class="col-12 col-md-10">
                <input value="<%= createdAt %>" type="text" min="0" max="100" name="priority" id="priority"
                  class="form-control rounded-0 fw-bold text-uppercase" readonly disabled>
              </div>
            </div>

            <div class="row mb-3">
              <label for="priority" class="fw-bold col-12 col-md-2 col-form-label text-uppercase">Updated At</label>
              <div class="col-12 col-md-10">
                <input value="<%= updatedAt %>" type="text" min="0" max="100" name="priority" id="priority"
                  class="form-control rounded-0 fw-bold text-uppercase" readonly disabled>
              </div>
            </div>

            <hr>

            <!-- Dynamic Fields -->
            <ul class="list-group list-group-flush" id="field-parent">

              <% if (fields.length) { %>
                <li class="list-group-item text-uppercase border-0">
                  <h5>Dynamic Field</h5>
                  <p>include contact information flexibly in the unlimited fields</p>
                </li>
                <% } %>


                  <% fields.forEach(([field, value])=> { %>

                    <li class="list-group-item border-bottom border-top p-3" fieldchild="0">
                      <div class="row g-3">
                        <div class="col-12 col-md-6">
                          <input value="<%= field %>" type="text" class="form-control rounded-0 fw-bold"
                            placeholder="Field Name" aria-label="Field Name" name="field-0" readonly disabled>
                        </div>
                        <div class="col-12 col-md-6">
                          <input value="<%= value %>" type="text" class="form-control rounded-0 fw-bold"
                            placeholder="Value" aria-label="Value" name="value-0" readonly disabled>
                        </div>
                      </div>
                    </li>

                    <% }) %>

                      <li class="list-group-item">
                        <form action="/contact/<%= name %>?_method=DELETE" method="post" hidden id="DELETE"></form>

                        <button class="btn btn-danger btn-sm m-1" type="submit"
                          onclick="if(!confirm('Delete contact?')) event.preventDefault();" form="DELETE">
                          Delete
                        </button>
                        <button id="add-field-btn" class="btn btn-primary btn-sm m-1" type="button">Download as
                          Image</button>
                          <button id="add-field-btn" class="btn btn-warning btn-sm m-1" type="button">Download
                            JSON</button>
                            <a href="/contact/edit/<%= name %>">
                              <button class="btn btn-dark btn-sm m-1  border border-1 border-white" type="button">Edit Contact</button>
                            </a>
                      </li>


            </ul>
          </div>

        </div>

  </div>
</div>